<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='st.css') }}">
    <title>ieducated</title>
</head>
<body>
    <nav class="nav+bar background">
        <ul class="nav-list">
            <div class="logo"><img src="{{ url_for('static', filename='img/img.jpg') }}" alt="image"></div>
            <b><li><a href="index.html">HOME</b></a></li>
            <b><li><a href="#about">ABOUT</b></a></li>
            <li><a href="#services"><b>SERVICES</b></a></li>
            <li><a href="#contact"><b>CONTACT US</b></a></li>
        </ul>
        <div class="rightnav">
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">search</button>
        </div>
    </nav>
    <section class="background firstsection">
        <div class="box-main">
            <div class="firsthalf">
                <p class="text-big">The Future Education is Here</p>
                <p class="text-small">we come and learn the best edcation from the ieducated ,BE EDUCATED BE PREPARED</p>
                <div class="buttons">
                    <button class="btn">subscribe</button>
                    <button class="btn">watch video</button>
                </div>
            </div>
            <div class="secondhalf">
                <img src="{{ url_for('static', filename='img/p.avif') }}" alt="coding image">

            </div>
        </div>
    </section>
    <section class="section">
        <div class="paras">
        <p class="sectiontag text-big">THE END OF SEARCH IS HERE:-</p>
        <p class="sectionsubtag text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut officia nemo, odit impedit unde quas reprehenderit pariatur magnam, architecto illo mollitia delectus! Cum placeat incidunt molestias explicabo eligendi voluptatem dolores expedita iusto obcaecati aspernatur cumque, similique, assumenda libero rem neque consectetur officia mollitia, error eos iure. Ipsum asperiores quae suscipit fuga reiciendis, ducimus repellendus aut! Dicta fugiat ducimus blanditiis est voluptatum quos ipsa reiciendis odio quam. Ipsa numquam animi corrupti provident dolorem deserunt accusantium nemo incidunt aperiam corporis sequi neque ab eos, dolores quam adipisci!, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam laborum voluptatum 
        </p>
        </div>
        <div class="thumbnail">
            <img src="{{ url_for('static', filename='img/p.avif') }}" alt="coding image">

        </div>
    </section>
    <section class="section section-left">
        <div class="paras">
        <p class="sectiontag text-big">THE END OF SEARCH IS HERE:-</p>
        <p class="sectionsubtag text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut officia nemo, odit impedit unde quas reprehenderit pariatur magnam, architecto illo mollitia delectus! Cum placeat incidunt molestias explicabo eligendi voluptatem dolores expedita iusto obcaecati aspernatur cumque, similique, assumenda libero rem neque consectetur officia mollitia, error eos iure. Ipsum asperiores quae suscipit fuga reiciendis, ducimus repellendus aut! Dicta fugiat ducimus blanditiis est voluptatum quos ipsa reiciendis odio quam. Ipsa numquam animi corrupti provident dolorem deserunt accusantium nemo incidunt aperiam corporis sequi neque ab eos, dolores quam adipisci!, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam laborum voluptatum 
        </p>
        </div>
        <div class="thumbnail">
            <img src="{{ url_for('static', filename='img/p.avif') }}" alt="coding image">

        </div>
    </section>
    <section class="section">
        <div class="paras">
        <p class="sectiontag text-big">THE END OF SEARCH IS HERE:-</p>
        <p class="sectionsubtag text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut officia nemo, odit impedit unde quas reprehenderit pariatur magnam, architecto illo mollitia delectus! Cum placeat incidunt molestias explicabo eligendi voluptatem dolores expedita iusto obcaecati aspernatur cumque, similique, assumenda libero rem neque consectetur officia mollitia, error eos iure. Ipsum asperiores quae suscipit fuga reiciendis, ducimus repellendus aut! Dicta fugiat ducimus blanditiis est voluptatum quos ipsa reiciendis odio quam. Ipsa numquam animi corrupti provident dolorem deserunt accusantium nemo incidunt aperiam corporis sequi neque ab eos, dolores quam adipisci!, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam laborum voluptatum 
        </p>
        </div>
        <div class="thumbnail">
            <img src="{{ url_for('static', filename='img/p.avif') }}" alt="coding image">


        </div>
    </section>
    
</body>
</html>